include mixins/bannerAdmin.pug
doctype html
html
  head
    meta(charset="UTF-8")
    title Registrar servicio
    link(rel="stylesheet", href="/style/registro.css")
  +bannerAdmin()
  body
    form(action="/admin/cargar-servicio", method="post")
      ul
        li
          label(for="nombre:") Nombre:
          input(type="text", id="nombre", name="nombre" , required)
        li
        li
          label(for="apellido") Apellido:
          input(type="text", id="apellido", name="apellido" ,required)
        li
          label(for="tipoServicio") Tipo de servicio:
          select(name="tipoServicio", id="tipoServicio")
            option(value="paseador") Paseador
            option(value="cuidador") Cuidador
        li
          label(for="zona") Zona:
          input(type="text", id="zona", name="zona" ,required)
        li
          label(for="disponibilidadHoraria") Disponibilidad horaria:
          input(type="text", id="disponibilidadHoraria", name="disponibilidadHoraria" ,required)
        li 
          label(for="mail") Mail: 
          input(type="mail", id="mail", name="mail", required)  
        li.button
          button(type="submit") Cargar
        if error
          li.error= error  