include mixins/bannerCliente.pug

doctype html
html
  head
    meta(charset="UTF-8")
    title Cargar perro de adopcion
    link(rel="stylesheet", href="/style/login.css")

+bannerCliente()
body
  form(action="/clientes/cargar-adopcion", method="post")
    ul
      li
        label(for="nombre") Nombre:
        input(type="text", id="nombre", name="nombre")
      li
        label(for="edad") *Edad:
        input(type="text", id="edad", name="edad", required)
      li
        label(for="sexo") *Sexo:
        select(id="sexo", name="sexo", required)
          option(value="macho") Macho
          option(value="hembra") Hembra
      li 
        label(for="color") *Color:
        input(type="text", id="color", name="color", required)
      li 
        label(for="tama単o") *Tama単o: 
        input(type="text", id="tama単o", name="tama単o", required)
      li 
        label(for="origen") *Origen: 
        input(type="text", id="origen", name="origen", required)
      li.button
        button(type="submit") Cargar
        button(onclick="window.history.go(-1)") Cancelar
      p Los datos marcados con * son obligatorios
  if error
    li.error= error