include mixins/bannerCliente.pug

doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title OhMyDog
    link(rel="stylesheet", href="/style/index.css")

+bannerCliente()
body
  section#pantalla
    article.columna
      header
        - let mensaje = "¡Bienvenido " + usuario.rol + " " + usuario.nombre + "!"
        h1= mensaje
