include mixins/bannerUsuario.pug

doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title OhMyDog
    link(rel="stylesheet", href="/style/index.css")

+bannerUsuario()
section#pantalla
  article.columna
    header
      h1 Campañas de donaciones activas
    div.contenido Actualmente no se encuentran campañas de donaciones activas.

  article.columna
    header
      h1 Próximos turnos
    div.contenido Inicia sesión o acércate a la veterinaria para crear una cuenta y poder solicitar turnos desde la página web.
