include mixins/bannerUsuario.pug

doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title OhMyDog
    link(rel="stylesheet", href="/style/index.css")

+bannerUsuario()
section#pantalla
  article.columna
    header
      h1 ¡Iniciar sesion o registrate en la veterinaria para acceder a las funcionalidades del sistema!
