include mixins/bannerCliente.pug

doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title OhMyDog
    link(rel="stylesheet", href="/style/index.css")

+bannerCliente()
body
  section#pantalla
    article.columna
      header
        h1 Campañas de donaciones activas
      div.contenido
        p Actualmente no se encuentran campañas de donaciones activas.
