doctype html
html
  head
    title Turnos

    style.
      table {
        border-collapse: collapse;
        width: 30%;
      }
      th, td {
        padding: 12px;
        text-align: left;
      }
       td.buttons {
        display: flex;
        gap: 10px;
      }

  body
    h1 Lista de turnos
    table
    tr
        th Nombre del perro
        th Rango horario
        th Fecha
        th Motivo
        th Estado
    tr
        td Pancho
        td Ma침ana
        td 19 mayo
        td Chequeo general
        td Pendiente
        td.buttons
            button(type="button" onclick="window.location.href='/admin/modificar-turno?id=64713320cb306b9ce17965f4'") Modificar turno
            //estos dos botones irian para el cliente que no se si va a ser 2 pugs distintos o 1 pug para los 2
            //if turno.estado = modificado-pendiente && !usuario.isAdmin
            button(type="button" onclick="window.location.href='/clientes/aceptar-modificacion?id=64713320cb306b9ce17965f4'") Aceptar modificaci칩n
            button(type="button" onclick="window.location.href='/clientes/rechazar-modificacion?id=64713320cb306b9ce17965f4'") Rechazar modificaci칩n
// modificar - eliminar - aceptar - rechazar (Admin) - confirmar asistencia (una vez q el cliente asistio, al admin lo confirma)
// aceptar modificacion - rechazar modificacion 


//est치 todo hardcodeado para testear mi "modificar-turno"
//habria que hacer que la url a la que va sea /admin/modificar-turno?turno.id 