include mixins/bannerUsuario.pug

doctype html
html
  head
    meta(charset="UTF-8")
    title Iniciar sesión
    link(rel="stylesheet", href="/style/login.css")

+bannerUsuario()
body
  form(action="/usuarios/login", method="post")
    ul
      li
        label(for="mail") Mail
        input(type="email", id="mail", name="mail", required)
      li
        label(for="contraseña") Contraseña
        input(type="password", id="password", name="contraseña", required)
      li.button
        button(type="submit") Iniciar Sesión
  if error
    li.error= error