doctype html
html
  head
    meta(charset="utf-8")
    title Modificar mis datos
    link(rel="stylesheet", href="/style/login.css")
  body
    form(action="/admin/modificar-turno", method="patch")
      ul
        li
          label(for="nombre") Nombre
          input(type="text", id="nombre", name="nombre", required)
        li
            label(for="rangoHorario") Rango horario
            input(type="text", id="rangoHorario", name="rangoHorario")
        li
            label(for="motivo") Motivo
            input(type="text", id="motivo", name="motivo")
        li
            label(for="estado") Estado
            input(type="text", id="estado", name="estado")
        li
            label(for="fecha") Fecha
            input(type="date", id="fecha", name="fecha")
        li.button
          button(type="submit") Guardar cambios
    if error 
      li.error= error