doctype html
html
  head
    meta(charset="utf-8")
    title Modificar contraseña
    link(rel="stylesheet", href="/style/login.css")
  body
    form(action="/usuarios/primer-login-pass", method="post")
      ul
        li
          label(for="contraseña1") Contraseña actual:
          input(type="password", id="contraseña1", name="contraseña1", required)
        li
          label(for="contraseña2") Contraseña nueva:
          input(type="password", id="contraseña2", name="contraseña2", required)
        li.button
          button(type="submit") Guardar cambios
    if error 
      li.error= error