include mixins/bannerCliente.pug
include mixins/bannerUsuario.pug
doctype html
html
  head
    meta(charset="UTF-8")
    title Realizar donacion
    link(rel="stylesheet", href="/style/registro.css")
  body
    if (mail == "")
      +bannerUsuario()
    else 
      +bannerCliente()
    form(action="/usuarios/realizar-donacion", method="post")
      ul
        li
          input(type="hidden", name="nombre", value=nombre)
        li    
          input(type="hidden", name="mail", value=mail)
        li
          input(type="hidden", id="nombre", name="nombre", value=nombre)
        li
          label(for="monto") Monto:
          input(type="number", id="monto", name="monto", required)
        li
          label(for="numero") Numero de tarjeta:
          input(type="number", id="numero", name="numero", required)
        li
          label(for="fecha") Fecha de vencimiento:
          input(type="date", id="fecha", name="fecha", required)
        li
        li
          label(for="codigo") Codigo de seguiridad:
          input(type="number", id="codigo", name="codigo", required)
        li
        li.button
          button(type="submit") Donar 
          button(onclick="window.history.go(-1)") Cancelar
        if error
          li.error= error