doctype html
html
  head
    meta(charset="UTF-8")
    title Registrar usuario
    link(rel="stylesheet", href="/style/registro.css")
  body
    form(action="/admin/registrar-usuario", method="post")
      ul
        li
          label(for="nombre") Nombre
          input(type="text", id="nombre", name="nombre", required)
        li
          label(for="apellido") Apellido
          input(type="text", id="apellido", name="apellido", required)
        li
          label(for="mail") Mail
          input(type="email", id="mail", name="mail", required)
        li
          label(for="telefono") Telefono
          input(type="text", id="telefono", name="telefono", required)
        li
          label(for="dni") DNI
          input(type="text", id="dni", name="dni", required)
        li.button
          button(type="submit") Registrar
    if error
      li.error= error