include mixins/bannerAdmin.pug
doctype html
html
  head
    meta(charset="UTF-8")
    title Registrar usuario
    link(rel="stylesheet", href="/style/registro.css")
  +bannerAdmin()
  body
    form(action="/admin/registrar-perro", method="post")
      ul
        li
          label(for="mail") Mail
          input(type="email", id="mail", name="mail" , required)
        li
          label(for="nombre") Nombre
          input(type="text", id="nombre", name="nombre" ,required)
        li
          label(for="sexo") sexo
          select(id="sexo", name="sexo", required)
            option(value="macho") Macho
            option(value="hembra") Hembra
        li
          label(for="fechaDeNacimiento") fechaDeNacimiento
          input(type="Date", id="fechaDeNacimiento", name="fechaDeNacimiento" ,required)
        li
          label(for="raza") raza
          input(type="text", id="raza", name="raza",required)
        li
          label(for="color") color
          input(type="text", id="color", name="color",required)
        li
          label(for="observaciones") observaciones
          input(type="text", id="observaciones", name="observaciones")
        li
        li
          label(for="foto") foto
          input(type="String", id="foto", name="foto")
        li
        li.button
          button(type="submit") Registrar
        if error
          li.error= error  
    script.
      document.addEventListener('DOMContentLoaded', function() {
        function setMaxDate() {
          var today = new Date();
          var year = today.getFullYear();
          var month = String(today.getMonth() + 1).padStart(2, '0');
          var day = String(today.getDate()).padStart(2, '0');
          var todayDate = `${year}-${month}-${day}`;
          var fechaInput = document.getElementById('fechaDeNacimiento');
          fechaInput.setAttribute('max', todayDate);
        }
        setMaxDate();
      });