include ../mixins/bannerAdmin.pug

doctype html

+bannerAdmin()
html
  head
    title Donaciones
  body
    form(action="/admin/cargar-donacion", method="GET")
        button(type="submit") Cargar donacion
    form(action="/admin/ver-donaciones", method="GET")
        button(type="submit") Visualizar campañas
