include ../mixins/bannerAdmin.pug

doctype html
html
  head
    title Urgencias
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css', integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=', crossorigin='')
    script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js', integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=', crossorigin='')

+bannerAdmin()

body
  div#map(style='height: 100%; width: 100% ;')

  script.
    function onMapClick(e) {
      var popup = L.popup()
        .setLatLng(e.latlng)
        .setContent('<button onclick="openPage(' + e.latlng.lat + ', ' + e.latlng.lng + ')">Cargar sucursal <br /> en el punto seleccionado </button>')
        .openOn(map);
    }        

    var map = L.map('map').setView([-34.921388, -57.9544169], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    map.on('click', onMapClick);

    function openPage(lat, lng) {
      var url = '/admin/cargarSucursal?lat=' + lat + '&lng=' + lng;
      window.open(url, '_blank');
    }
