.btn {
    background-color: #f00c89;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.btn:hover {
    border-left: 3px solid blue;
}